.EditorView {
  --status-bar-height: 48px;
  pointer-events: none !important;
  padding: calc(var(--status-bar-height) + var(--sp-xs)) var(--sp-md) var(--sp-md);
  width: 100%;
  height: 100%;
}

.EditorView__leftPanel,
.EditorView__rightPanel {
  max-width: 320px;
  width: 100vw;
}

.EditorView__leftPanel,
.EditorView__rightPanel,
.EditorView__centerPanel {
  pointer-events: none;

  & > * {
    pointer-events: all;
  }
}
