.StatusBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 48px;
  height: 100%;
  background: linear-gradient(to bottom, #00000022, #00000000);
  pointer-events: all;
}

.StatusBar__left,
.StatusBar__right {
  padding: 0 var(--sp-xs);
}

.OverlayButton {
  padding: 0 var(--sp-xs);
  height: 32px;
  display: flex;
  align-items: center;
  gap: var(--sp-xxs);
  border-radius: var(--br-xs);
  cursor: pointer;

  &:hover {
    background-color: var(--bg-world-hover);
  }
  &:active,
  &:focus {
    background-color: var(--bg-world-active);
  }
}
